{{- if and .Site.IsMultiLingual .Site.Params.enableLangToggle -}}
    {{- $hide := or (and .IsHome .Site.Params.hideLangToggleInHome) (and (not .IsHome) (and .Site.Params.autoHideLangToggle (not .IsTranslated))) -}}
    {{- if not $hide -}}
        <div id="lang-switcher">
            {{ if .IsTranslated }}
                {{ range .Translations }}
                        <a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a>
                {{ end }}
                
            {{ else }}
                {{ if not .Site.Params.autoHideLangToggle }}
                    
                    {{ range .Site.Languages }}
                        {{ if ne $.Site.Language.Lang .Lang }}
                            <a rel="alternate" href="{{ .Lang | relURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a>
                        {{ end }}
                    {{ end }}
                    
                {{ end }}
            {{ end }}
    {{- end -}}
{{- end -}}
